@font-face {
    font-family: "Franklin_Gothic_Demi_Cond_Regular";
    src: url(../fonts/Franklin\ Gothic\ Demi\ Cond\ Regular.ttf);
}

html {
    margin: 0;
    padding: 0;
}

#container .col-lg-6 {
    font-family: "Franklin_Gothic_Demi_Cond_Regular";
}

#form-container {
    background: #6c7797;
    padding: 2px 2px 0.1rem 8px;
    margin-bottom: 1rem;
}

#container .col-lg-6 {
    background: #213361;
    color: white;
    border-radius: 5px;
    padding-bottom: 1em;
}

input {
    background: #e9e9e9;
    border: 4px solid #e9e9e9;
    border-radius: 4px;
    width: 100%;
}

button[type="submit"] {
    background: #ffffff;
    border: #ffffff;
    padding: 0.4rem;
    text-align: center;
    color: #f36523;
    border-radius: 7px;
    font-weight: bold;
}

.combodate select {
    width: 8.2rem !important;
    height: 2.5rem;
}

.form-check-input.housenumber {
    width: 8em;
}

footer {
    padding-top: 20px;
}

footer .testimonial img {
    width: 100%;
    height: auto;
}

footer .testimonial {
    text-align: center;
}

footer .testimonial p {
    font-size: 0.7rem;
    color: #213361;
}

footer .testimonial h4 {
    color: #213361;
}

#header img {
    width: 40%;
}

footer .row.footerlogo .col-sm {
    padding-right: 0;
    padding-left: 0;
}

.footerlogo img {
    width: 100%;
    height: auto;
}

#header h2 {
    color: #f36523;
}

#maandinkomen_partner {
    display: none;
}

#header {
    padding-top: 1rem;
}

@media screen and (max-width:768px) {
    input {
        margin-bottom: 6px;
    }
}